@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

* {
    user-select: none;
}

li {
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0D0C0D;
    font-family: 'Geist', sans-serif;
}

a {
    text-decoration: none;
}

i {
    color: #00ffff;
}

.header {
    width: 100%;
    padding: 1rem;
    /* Small horizontal padding for breathing room */
    max-width: 1400px;
    /* Same as your .container */
    margin: 0 auto;
    /* Centers the header */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Geist Mono";
}

.text-highlight {
    color: #2CFBFF;
}

.sb {
    font-weight: 600;
}

.container {
    display: grid;
    grid-template-columns: 1.1fr 1.3fr;
    gap: 0.9rem;
    width: 100%;
    max-width: 1200px;
    justify-items: stretch;
    align-items: start;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    flex: 1;
}

.box {
    background-color: #0F0F10;
    border: 1px solid #4d4d4d;
    border-radius: 12px;
    color: white;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 1rem;
    margin-top: -2rem;
    box-sizing: border-box;
}

.box-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.9rem;
}

.box-limited {
    max-width: 543px;
}

.geist-mono {
    font-family: 'Geist Mono', monospace;
}


/* BOXES */
.box-id,
.box-skills,
.box-tech {
    align-items: stretch;
    padding: 1.5rem;
}

/* BOX 1 */
/* ROW 1 */
.id-row-1 {
    display: grid;
    grid-template-columns: 135px 1fr;
    gap: 1rem;
    align-items: start;
}

.id-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

.id-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.3rem;
}

.detail {
    font-size: 0.80rem;
    line-height: 1.4;
}

.myname {
    font-size: 2rem;
    font-weight: 600;
    margin-top: -0.5rem;
}

.dev {
    font-size: 1.2rem;
}

.course {
    font-size: 0.90rem;
    margin-top: -0.4rem;
    margin-bottom: 0.5rem;
}

/* ROW 2 */
.id-row-2 {
    margin-top: 0.5rem;
    background-color: #0D0C0D;
    padding: 0.7rem;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.chip {
    background-color: #171718;
    color: #949494;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    font-size: 0.85rem;
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    white-space: nowrap;
    font-weight: 600;
}

.chip img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

/* ROW 3 */
.id-row-3 {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.github-button {
    height: 15px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: #171718;
    color: white;
    font-size: 0.95rem;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.2s ease;
    width: 200px;
    justify-content: center;
}

.github-button img {
    width: 18px;
    height: 18px;
}

.github-button:hover {
    background-color: #1d1d1e;
}

.status-chip {
    background-color: #103e1398;
    color: #2CFB5c;
    padding: 0.3rem 0.8rem;
    border-radius: 16px;
    font-size: 0.75rem;
    font-weight: 600;
    white-space: nowrap;
    transition: background-color 0.2s ease;
}

.status-chip:hover {
    background-color: #103e133b;
}

/* BOX 2 (SKILLS) */
.row-1-header {
    margin-top: -0.4rem;
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

/* B2R1 */
.row-1-header img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.box-title {
    font-size: 1.5rem;
    font-weight: 600;
}

/* B2R2 */
.row-2-sub {
    font-size: 0.75rem;
    color: #838383;
}

/* B2R3 */
:root {
    --marquee-width: 55vw;
    --marquee-height: 2.5rem;
    --marquee-elements: 12;
    --marquee-elements-displayed: 12;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 2s);
}

.marquee {
    margin-bottom: -0.9rem;
    color: #00ffff;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 5rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee-content:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

@keyframes scrolling-rev {
    0% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }

    100% {
        transform: translateX(0);
    }
}

.rev {
    animation: scrolling-rev var(--marquee-animation-duration) linear infinite;
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4);
    white-space: nowrap;
}

.marquee-content li img {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    html {
        font-size: 10px;
    }

    :root {
        --marquee-width: 50vw;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }

    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}


/* COLUMN 2 */
/* BOX 3 */
.row-1-header i {
    font-size: 1.6rem;
}

.tech-label {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.tech-ver {
    font-size: 0.75rem;
    color: #9b9a9a;
}

.tech-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.tech-item {
    background-color: #0D0C0D;
    border-radius: 8px;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 1rem;
    color: #D4D4D4;
    transition: background-color 0.2s ease;
}

.tech-item:hover {
    background-color: #1d1d1e;
}

.tech-icon-box {
    width: 50px;
    height: 50px;
    background-color: #151517;
    border: 1px solid #4d4d4d;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 2.3rem;
    margin-right: 0.5rem;
}

.tech-item .fa-arrow-up-right-from-square {
    margin-left: auto;
    font-size: 1.5rem;
}

/* BOX 4 and 5 */
/* Box - Row */
.stat-number {
    margin: -0.6rem;
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: #2CFBFF;
}

.gradient {
    background: linear-gradient(to bottom, #ffffff, #000000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

.stat-chip {
    margin-top: 1rem;
    background-color: #151517;
    color: #D4D4D4;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

/* BOX 6 */
.contact-icon {
    width: 80px;
    height: 80px;
    border: 1.5px solid #4d4d4d;
    background-color: #0D0C0D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.contact-icon i:hover {
    transform: scale(1.1) rotate(10deg);
}

.contact-icon i {
    font-size: 2.5rem;
    margin: 1rem;
    transition: transform 0.3s ease;
}

.contact-title {
    font-weight: 900;
    font-size: 1.8rem;
}

.contact-subtitle {
    color: #979797;
    font-weight: 600;
    margin-bottom: 1.8rem;
}

.contact-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.contact-btn {
    position: relative;
    display: inline-block;
    border: 1px solid #4d4d4d;
    padding: 0.3rem 3rem;
    border-radius: 5px;
    background-color: #0D0C0D;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.contact-btn:hover {
    background-color: #1d1d1e;
}

.contact-btn .tooltip-text {
    visibility: hidden;
    width: max-content;
    border: 0.5px solid #4d4d4d;
    background-color: #171718;
    color: #D4D4D4;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s;
    font-size: 12px;
    z-index: 10;
}

.contact-btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* FOOTER */
footer {
    align-items: center;
    color: #8F8F8F;
    text-align: center;
    font-size: 0.9rem;
    user-select: none;
}

footer a {
    text-decoration: none;
    color: #8F8F8F;
    text-shadow: 0 0 15px #2CFBFF, 0 0 2px #2CFBFF;
}

footer p {
    margin: 0;
    line-height: 1.5;
}

#cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #2CFBFFb6;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px #2CFBFF, 0 0 16px #2CFBFF;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.dot-twinkle {
    display: inline-block;
    animation: twinkle 0.7s infinite step-end;
    transform-origin: center;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .box-limited {
        max-width: 100% !important;
        width: 100%;
    }

    .box {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 1.2rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .column {
        width: 100%;
    }

    /* BOX 1 */
    /* ROW 1 */
    .id-row-1 {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 1rem;
        align-items: start;
    }

    .id-photo {
        width: 85%;
        object-fit: cover;
        border-radius: 15px;
    }

    .id-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0.3rem;
        margin-left: -1rem;
    }

    /* ROW 2 */
    .id-row-2 {
        margin-top: 0.5rem;
        background-color: #0D0C0D;
        padding: 0.7rem;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .chip {
        background-color: #171718;
        color: #949494;
        padding: 0.4rem 0.8rem;
        border-radius: 5px;
        font-size: 0.80rem;
        display: inline-flex;
        align-items: center;
        gap: 0.4rem;
        white-space: nowrap;
        font-weight: 600;
    }

    .chip img {
        width: 10px;
        height: 10px;
        object-fit: contain;
    }

    /* ROW 3 */
    .id-row-3 {
        margin-top: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.2rem;
        flex-wrap: wrap;
    }

    .github-button {
        width: 180px;
    }

    /* BOX 2 */
    :root {
        --marquee-width: 100vw;
        --marquee-height: 3rem;
        --marquee-elements: 2.5;
        --marquee-elements-displayed: 6;
    }

    .tech-grid {
        display: flex;
        flex-direction: column;
    }

    .tech-item {
        font-size: 1.4rem;
    }

    .tech-icon-box {
        margin-right: 1rem;
        font-size: 3rem;
    }

    .contact-icon i {
        font-size: 4rem;
    }

    .contact-btn {
        padding: 0.4rem 3rem;
        font-size: 2.1rem;
    }

    #cursor-dot {
        display: none;
    }


    footer {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
}

@media (hover: none) {
    .contact-btn .tooltip-text {
        display: none !important;
    }
}